//Navbar container
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 136px;

  background: var(--bg-color);
}

//Logo container (#1)
.logo {
  display: flex;
  align-items: center;

  //Logo container -> Logo image
  img {
    margin: 0 10px;
  }
  //Logo container -> Logo name
  .logo_name {
    color: var(--main-color);
    font-size: 20.667px;
    font-weight: 400;
  }
}

//Links (#2)
.links_container {
  display: flex;

  //Adding marging between links
  li {
    margin: 0 30px;

    //Styling link's text
    a {
      color: #111;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

//Links -> Current link
.current_link {
  color: var(--main-color) !important;
  font-weight: 700 !important;
}

//Hub (#3)
.hub {
  align-items: center;
  display: flex;

  //Hub -> Search bar
  .search_bar {
    display: flex;
    align-items: center;
    margin-right: 25px;

    border-radius: 35px;
    background: #fff;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
    width: 222px;
    height: 40px;

    padding: 8px 12px;

    font-size: 12px;
    font-weight: 400;

    //Hub -> Search bar -> input field
    input {
      width: 150px;
      margin-left: 16px;
      text-overflow: ellipsis;
      &::placeholder {
        color: #929292;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  //Hub -> Cart container -> Cart self
  .cart {
    cursor: pointer;
    position: relative;

    //Hub -> Cart container -> Cart self -> Cart indicator
    .ellipse {
      right: -3px;
      position: absolute;
    }
  }
}

.menu_icon {
  display: none;
}
.cross_icon {
  position: absolute;
  right: 50px;
  top: 50px;
}

.menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.links_container_fade {
  li {
    text-align: center;
    margin: 20px 0;

    a {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    img {
      margin: 0;
    }
  }
  .hub {
    flex-grow: 1;
    margin: 0 30px;
    .search_bar {
      margin: 0;
      width: 100%;
      input {
        width: 93%;
      }
    }
  }

  .menu_icon {
    display: flex;
  }
  .links_container {
    display: none;
  }
  .cart_container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  .cart {
    background: transparent;
    top: 3px;
  }
}

@media only screen and (max-width: 768px) {
  .logo_name {
    display: none;
  }
  .hub {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    height: 100px;
  }
}

@media only screen and (max-width: 375px) {
  .hub {
    .search_bar {
      height: 35px;
      button svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}
