header {
  height: 1000px;
  padding-top: 60px;
  display: flex;
  background-color: var(--bg-color);
}
.content {
  h1 {
    max-width: 786px;
  }
  p {
    margin-top: 23px;
    max-width: 525px;
  }
  .buttons {
    margin-top: 42px;
    display: flex;
    align-items: center;
  }
  .menu_btn {
    margin-left: 13px;
  }
}
.coffee_display {
  margin: 0 auto;
  display: flex;
  background-image: url('/assets/_about/coffee_display.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 617px;
  height: 617px;
  .coffee_name {
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 85px;
    padding: 6px;

    border-radius: 56px;
    background: linear-gradient(
      93deg,
      rgba(255, 255, 255, 0.4) 0.82%,
      rgba(255, 255, 255, 0.7) 96.47%
    );
    backdrop-filter: blur(3px);
    .coffee_name_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      border-radius: 56px;
      background: #fff;

      color: var(--main-color);
      text-align: center;
      font-size: 28px;
      font-weight: 600;
    }
  }
  .coffee_price {
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 85px;
    padding: 6px;

    border-radius: 56px;
    background: linear-gradient(
      93deg,
      rgba(255, 255, 255, 0.4) 0.82%,
      rgba(255, 255, 255, 0.7) 96.47%
    );
    backdrop-filter: blur(2px);
    .coffee_price_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      border-radius: 56px;
      background: #fff;

      color: var(--main-color);
      text-align: center;
      font-size: 28px;
      font-weight: 600;
    }
  }
}

.coffee_name {
  position: relative;
  left: -160px;
  top: 480px;
}
.coffee_price {
  position: relative;
  right: -66px;
  top: 53px;
}

@media only screen and (max-width: 1700px) {
  header {
    background-color: var(--bg-color);
  }
  .content {
    h1 {
      font-size: 65px;
      max-width: 650px;
    }
    p {
      font-size: 21px;
    }
  }
  .coffee_display {
    width: 540px;
    height: 540px;
    margin: 0 0 0 auto;
    .coffee_name {
      top: 420px;
      left: -140px;
      width: 322px;
      height: 85px;
    }
    .coffee_price {
      top: 46px;
      right: -58px;
      width: 176px;
      height: 85px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  header {
    background-color: var(--bg-color);
  }
  .content {
    h1 {
      font-size: 58px;
      max-width: 590px;
    }
    p {
      font-size: 18px;
      max-width: 394px;
    }
  }
  .coffee_display {
    width: 463px;
    height: 463px;
    .coffee_name {
      width: 276px;
      height: 64px;
      left: -120px;
      top: 360px;
      border-radius: 42px;
      .coffee_name_inner {
        font-size: 24px;
        border-radius: 42px;
      }
    }
    .coffee_price {
      width: 150px;
      height: 64px;
      right: -50px;
      top: 40px;
      border-radius: 42px;
      .coffee_price_inner {
        font-size: 24px;
        border-radius: 42px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .content {
    h1 {
      font-size: 52px;
      max-width: 570px;
    }
  }
  .coffee_display {
    width: 400px;
    height: 400px;
    .coffee_name {
      width: 228px;
      height: 58px;
      top: 300px;
      left: -100px;
      padding: 4px;
      .coffee_name_inner {
        font-size: 21px;
      }
    }
    .coffee_price {
      width: 110px;
      height: 58px;
      top: 25px;
      right: -60px;
      padding: 4px;
      .coffee_price_inner {
        font-size: 21px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .content {
    h1 {
      font-size: 38px;
      max-width: 420px;
    }
    p {
      margin-top: 15px;
      font-size: 14px;
      max-width: 310px;
    }
    .buttons {
      margin-top: 30px;
    }
  }
  .coffee_display {
    width: 320px;
    height: 320px;
    .coffee_name {
      width: 146px;
      height: 42px;
      top: 240px;
      left: -50px;
      .coffee_name_inner {
        font-size: 16px;
      }
    }
    .coffee_price {
      width: 97px;
      height: 42px;
      top: 20px;
      right: -80px;
      .coffee_price_inner {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .content {
    height: 300px;
    h1 {
      font-size: 50px;
      max-width: 568px;
    }
    p {
      margin-top: 0;
      font-size: 16px;
      max-width: 428px;
    }
  }
  .coffee_display {
    margin: 40px auto;
    width: 350px;
    height: 350px;
    .coffee_name {
      width: 190px;
      height: 54px;
      top: 250px;
      left: -80px;
      padding: 4px;
      .coffee_name_inner {
        font-size: 18px;
      }
    }
    .coffee_price {
      width: 100px;
      height: 54px;
      top: 23px;
      right: -70px;
      padding: 4px;
      .coffee_price_inner {
        font-size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .content {
    h1 {
      font-size: 40px;
      width: 400px;
    }
    p {
      font-size: 14px;
      max-width: 350px;
    }
  }
  .coffee_display {
    width: 320px;
    height: 320px;
    .coffee_name {
      width: 146px;
      height: 42px;
      top: 240px;
      left: -50px;
      .coffee_name_inner {
        font-size: 16px;
      }
    }
    .coffee_price {
      width: 97px;
      height: 42px;
      top: 20px;
      right: -80px;
      .coffee_price_inner {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .content {
    h1 {
      font-size: 35px;
      max-width: 350px;
    }
    p {
      max-width: 300px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .coffee_display {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    .coffee_name {
      top: 230px;
      left: -30px;
    }
    .coffee_price {
      right: -60px;
    }
  }
}
@media only screen and (max-width: 375px) {
  .content {
    h1 {
      font-size: 30px;
      max-width: 300px;
    }
    p {
      max-width: 275px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .coffee_display {
    width: 275px;
    height: 275px;
    .coffee_name {
      width: 130px;
      top: 215px;
      left: -23px;
    }
    .coffee_price {
      right: -60px;
    }
  }
}
