header {
  padding-top: 60px;
  display: flex;
  background: radial-gradient(
      652px circle at calc(100% + 150px) 50%,
      var(--light-green) 50%,
      transparent 50%
    ),
    radial-gradient(652px circle at 66% calc(100% + 60px), var(--light-green) 50%, transparent 50%);
  background-color: var(--bg-color);
}
.content {
  h1 {
    max-width: 786px; //(590)
  }
  p {
    margin-top: 23px;
    max-width: 525px; //(394)
  }
  .buttons {
    margin-top: 42px;
    display: flex;
    align-items: center;
  }
  .menu_btn {
    margin-left: 13px;
  }
}
.coffee_display {
  // margin-left: auto;
  margin: 0 auto;
  display: flex;
  background-image: url('/assets/_about/coffee_display.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 617px; //463
  height: 617px; //463
  .coffee_name {
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px; //276
    height: 85px; //64
    padding: 8px; //6

    border-radius: 56px; //42
    background: linear-gradient(
      93deg,
      rgba(255, 255, 255, 0.4) 0.82%,
      rgba(255, 255, 255, 0.7) 96.47%
    );
    backdrop-filter: blur(3px); //2
    .coffee_name_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      border-radius: 56px; //42
      background: #fff;

      color: var(--main-color);
      text-align: center;
      font-size: 28px; //24
      font-weight: 600;
    }
  }
  .coffee_price {
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; //150
    height: 85px; //64
    padding: 8px; //6

    border-radius: 56px; //42
    background: linear-gradient(
      93deg,
      rgba(255, 255, 255, 0.4) 0.82%,
      rgba(255, 255, 255, 0.7) 96.47%
    );
    backdrop-filter: blur(2px);
    .coffee_price_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      border-radius: 56px; //42
      background: #fff;

      color: var(--main-color);
      text-align: center;
      font-size: 28px; //24
      font-weight: 600;
    }
  }
}

.coffee_name {
  position: relative;
  left: -160px; //120
  top: 480px; //360
}
.coffee_price {
  position: relative;
  right: -66px; //50
  top: 53px; //40
}
