.e {
  background: radial-gradient(
      652px circle at calc(100% + 150px) 36%,
      var(--light-green) 50%,
      transparent 50%
    ),
    radial-gradient(652px circle at 66% calc(100% - 356px), var(--light-green) 50%, transparent 50%);
}
.e1700 {
  background: radial-gradient(
      570px circle at calc(100% + 150px) 34%,
      var(--light-green) 50%,
      transparent 50%
    ),
    radial-gradient(570px circle at 66% calc(100% - 356px), var(--light-green) 50%, transparent 50%);
}
.e1440 {
  background: radial-gradient(
      489px circle at calc(100% + 175px) 30%,
      var(--light-green) 50%,
      transparent 50%
    ),
    radial-gradient(489px circle at 70% calc(100% - 370px), var(--light-green) 50%, transparent 50%);
}
