h1 {
  color: #12463a;
  font-size: 77px; //58
  font-style: normal;
  font-weight: 500;
}
h2 {
  color: #12463a;
  font-size: 56px; //42
  font-style: normal;
  font-weight: 500;
  line-height: 133%; /* 56.66px */
}
h3 {
  color: #12463a;
  font-size: 42px; //32
  font-style: normal;
  line-height: normal;
}
p {
  color: #7e7d7a;
  font-size: 24px; //18
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 15px; //11
  font-weight: 500;
  line-height: 77.1%; /* 8.684px */
  letter-spacing: 3.041px;
  text-transform: uppercase;
}
b {
  color: #4bb79e;
  font-style: normal;
  font-weight: 400;
}
.subtitle {
  color: #7e7d7a;
  font-size: 28px; //22
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  padding: 19px 51px;
  font-weight: 600;
  font-size: 19px;

  background: #12463a;
  box-shadow: 0px 4.6087px 36.86957px 0px rgba(223, 195, 124, 0.25);
  color: #fff;

  text-align: center;
  font-style: normal;
  line-height: normal;
}
.h-btn {
  padding: 19px 51px;
  justify-content: center;
  align-items: center;

  border: 1.5px solid #12463a;
  box-shadow: 0px 4.6087px 36.86957px 0px rgba(223, 195, 124, 0.25);

  color: #12463a;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: #111;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;

  text-transform: uppercase;
}
