* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default margin and padding for all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set default font family and size */
body {
  font-family: Poppins;
  font-size: 16px;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Remove default input styles */
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}

/* Remove the outline when focused on an input or textarea */
input:focus,
textarea:focus {
  outline: none;
}

/* Set a consistent baseline for images */
img {
  max-width: 100%;
  height: auto;
}

/* Remove extra space at the top of the page */
html,
body {
  height: 100%;
}

/* Apply a background color to the body */

a {
  color: black;
}
